@media (min-width: 767px){
.about-content {
    margin: auto;
    width: 70%;
    background-color: white;
    height: 70%;
    overflow: auto;
}
}

@media (max-width: 767px){
    .about-content {
        margin: auto;
        width: 100%;
        background-color: white;
        height: 100%;
    }
    }

h1{
    margin-top: 10px;
    text-align: center;
}

.about-content p {
    text-align: justify;
    padding: 5px 10px 0px 10px;
}

.about-content .icon {
    text-align: center;
    font-size: 30px;
}

.about-content .icon a{
    color: lightslategray;
    margin-left: 5px;
    margin-right: 5px;
}
.about-content .icon a:hover{
    color: lightseagreen;
}