.contact-content {
    margin: auto;
    width: 70%;
    background-color: white;
}

@media (min-width: 767px){
    .contact-content form {
        width: 500px;
        margin: auto;
    }
}

@media (max-width: 767px){
    .contact-content .btn-primary {
        margin-bottom: 10px;
    }
    .contact-content span {
        margin-bottom: 10px;
    }
}

#emailHelp {
    color: red;
}

textarea[name='text'] {
    resize: none;
}

#send-btn {
    width: 100%;
    border: #67C598 solid 2px;
    color: #67C598;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: block;
    background: white;
}

#send-btn:disabled {
    border: rgba(103, 197, 152, 0.4) solid 2px;
    color: rgba(103, 197, 152, 0.4);
    background: rgba(211, 211, 211, 0.2);
}

#send-btn:not(:disabled):hover {
    background-color: rgba(117, 227, 174, 0.3);
    text-decoration: none;
}

#send-btn:disabled:hover {
    border: rgba(103, 197, 152, 0.4) solid 2px;
    color: rgba(103, 197, 152, 0.4);
    background: rgba(211, 211, 211, 0.2);
}

@media (max-width: 767px)
{
    iframe {
        transform:scale(0.77);
        transform-origin:0 0;
        margin: auto;
    }
}