.contact-content {
    margin: auto;
    width: 70%;
    background-color: white;
}

@media (min-width: 767px){
    .contact-content form {
        width: 500px;
        margin: auto;
    }
}

@media (max-width: 767px){
    .contact-content .btn-primary {
        margin-bottom: 10px;
    }
    .contact-content span {
        margin-bottom: 10px;
    }
}

#emailHelp {
    color: red;
}

textarea[name='text'] {
    resize: none;
}

