.contact-content {
    margin: auto;
    width: 70%;
    background-color: white;
}

.contact-body {
    padding: 10px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}

.map {
    margin: auto;
}

.info {
    display: grid;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.info h3, .info h5 {
    margin: auto;
    width: auto;
}

@media (min-width: 767px){
    .contact-content form {
        width: 500px;
    }
}

@media (max-width: 767px){
    .contact-content .btn-primary {
        margin-bottom: 10px;
    }
    .contact-content span {
        margin-bottom: 10px;
    }
}

#emailHelp {
    color: red;
}

textarea[name='text'] {
    resize: none;
}

#send-btn {
    width: 100%;
    border: #67C598 solid 2px;
    color: #67C598;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: block;
    background: white;
}

#send-btn:disabled {
    border: rgba(103, 197, 152, 0.4) solid 2px;
    color: rgba(103, 197, 152, 0.4);
    background: rgba(211, 211, 211, 0.2);
}

#send-btn:not(:disabled):hover {
    background-color: rgba(117, 227, 174, 0.3);
    text-decoration: none;
}

#send-btn:disabled:hover {
    border: rgba(103, 197, 152, 0.4) solid 2px;
    color: rgba(103, 197, 152, 0.4);
    background: rgba(211, 211, 211, 0.2);
}

@media (max-width: 767px)
{
    iframe:not(.map) {
        transform:scale(0.77);
        transform-origin:0 0;
        margin: auto;
    }
}

.info hr {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}