.home-content {
    margin: auto;
    width: 70%;
    background-color: white;
    overflow: auto;
    text-align: center;
}

.container-button .button:hover{
    background-color: rgba(117, 227, 174, 0.3);
    text-decoration: none;
}

.container-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-button .button {
    border: #67C598 solid 2px;
    color: #67C598;
    height: 50px;
    width: 30%;
    text-align: center;
    line-height: 50px;
    display: block;
    margin: 10px;
    transition-duration: .5s;
    transition-property: background;
}
@media (max-width: 767px) {
    .container-button .button {
        width: 100%;
    }
}

.container-social {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-social a {
    display: block;
    color: #989797;
} 

.container-social a:hover {
    color: #67C598;
}

.container-social svg {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.home-content h3 {
    color: #989797;
    width: auto;
    margin: auto;
    white-space: pre-wrap;
}