.projects {
    margin-top: auto;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.allProject {
    width: 100%;
    height: 100%;
    overflow: auto;
}

