.rootCard {
    margin: 5px;
    padding: 0;
    width: 90%;
    user-select: none;
    border: black solid 1px; 
    justify-self: center;
}
@media (max-width: 767px) {
    .rootCard {
        min-width: 30ch;
    }

    .cardSpring {
        min-height: 15ch;
    }

    .c {
        min-height: 15ch;
    }
}

.cardSpring {
    width: 100%;
    height: auto;
    min-height: 30ch;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.c {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 30ch;
    will-change: opacity;
}

.front, .back {
    background-size: 100%;
}

.back {
    background-color: rgba(56, 107, 98, 0.8);
    color: white;
}

.back p, .back h3 {
    padding: 5% 5% 0% 5%;
}

.back p {
    margin-bottom: 55px;
}

.front {
    background-color: lightgreen;
}

.front h3 {
    color: #989797;
    width: auto;
    margin: auto;
    
}

.back p {
    
    text-align: justify;
}

.back a {
    display: block;
    min-width: 40%;
    text-align: center;
    margin: auto;
}

.btn-github-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 5px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.btn-github {
    border: white solid 2px;
    text-decoration: none;
    color: white;
    height: 50px;
    line-height: 50px;
}

.btn-github:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);
}