.rootCard {
    margin: 0;
    padding: 0;
    width: 50ch;
    height: 20ch;
    user-select: none;
    overflow: hidden;
}

.cardSpring {
    width: 50ch;
    height: 20ch;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.c {
    position: absolute;
    width: 50ch;
    height: 20ch;
    cursor: pointer;
    will-change: transform, opacity;
}

.front, .back {
    background-size: 100%;
}

.back {
    background-color: grey;
    color: white;
}

.front {
    background-color: lightgreen;
}

.back p {
    padding: 10%;
    text-align: justify;
    
}